@model List<Student>

<h3>Here you can see the names of our top students now.</h3>
<br />

<div class="row">
    <div style="text-align: center; color:gray; font-style: italic; " class="col-6">
        <h5>Student</h5>
    </div>
    <div style="text-align: center; color: gray; font-style:italic;" class="col-6">
        <h5>Average success</h5>
    </div>
</div>
<hr />

@foreach (var student in Model)

    if (student.AvgSuccess >= 5.5)
    {

        {
<div onclick="getStudent('@student.Id')" class="row">

    <div style="text-align: center;" class="col-6">
         @student.FirstName @student.LastName
    </div>
    <div style="text-align: center; " class="col-6">
        @student.AvgSuccess
    </div>
</div>
            <hr />

        }
    }


